body{
  background-color: aquamarine;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.heading h1{
  padding-bottom: 1rem;
  text-align: center;
}

li.ui-state-default {
  border: none;
  border-bottom: 0.1px solid #ddd;
}

li.ui-state-default:last-child {
  border-bottom: none;
}